<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample-code">

    <test name="ConvertAddress">

        <classes>

            <class name="com.friday.qa.automat.TypicalTestCases">
                
                <methods>

                    <include name="solveChangeAddress_10Success"/>
                    
                </methods>
                
            </class>

        </classes>

    </test>

</suite>
